.header0{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top:0px;
    left: 0;
    right: 0;
    height: 110px;
    justify-content:space-between;
    z-index: 100;
}

.header1{
    margin-top: 30px;
    height: 70px;
    border-left: 1px;
    border-color: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: gray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

}

.left-section{
    background-color: none;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.middle-section{
    flex: 1;
    display: flex;
    margin-top: 30px;
    height: 70px;
    align-items: start;
    justify-content: center;

}

.right-section{
    background-color: none;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.search-bar{
    font-size: 25px;
    height: 36px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 4px;
    box-shadow: inset 1px 2px 3px rgb(0,0,0, 0.1);

}
.search-bar::placeholder{
    font-family: Robotto, Arial;
    font-size: 25px;
    text-align: left;
}